defaults
	mode http
	timeout connect 10s
	timeout client 30s
	timeout server 30s

frontend home_suchanecki
	bind *:80
	mode http
  use_backend static if !{ path -i -m beg /socket/ }
  use_backend socket if { path -i -m beg /socket/ }

resolvers docker_resolver
    nameserver dns 127.0.0.11:53

backend socket
	mode http
  balance leastconn
  option forwardfor
  cookie SERVERID insert indirect nocache
	server node1 socket-node1:8080 maxconn 1 weight 10 cookie node1 check inter 10s resolvers docker_resolver resolve-prefer ipv4
	server node2 socket-node2:8080 maxconn 1 weight 10 cookie node2 check inter 10s resolvers docker_resolver resolve-prefer ipv4
	server node3 socket-node3:8080 maxconn 1 weight 10 cookie node3 check inter 10s resolvers docker_resolver resolve-prefer ipv4

backend static
	mode http
	server static socket-static:80
	http-request set-header X-Forwarded-Port %[dst_port]
